

/* CSS REset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;

}

/* end of CSS Reset */

/* root */
:root {
  --primary-brand: #4D5AE5;
  --primary-text: #2E2F42;
  --address-normal: #434455;
  --secondary-text: #434455;
  --link-hover:#404BBF;
  --filter-button: #F4F4FD;
  --background-body: #fff;
  --hero-title: #fff;
  --background-header: #fff;
  --background-footer: #2E2F42;
  --background-hero: #2E2F42;
  --background-hero-button: #4D5AE5;
  --background-hero-button-hover: #404BBF;
  --filter-button-border: #E7E9FC;
  --footer-text: #F4F4FD;
  --cloud: #F4F4FD;
}

/* for body */

body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* General style */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;  
  }

.section{
  padding: 120px 0;
  width: 1440px;
  margin: 0 auto;
 }

 .footer, .header, .main{
  width: 1440px;
  margin: 0 auto;
 }

.link{
  text-decoration: none;
  font-family: inherit;
  padding: 24px 0;
 

   
}

.list{
  list-style: none;
  display: flex;
 
}

.button{
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  }

.text{
color: var(--secondary-text)
}


.heading3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  
}

.heading2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
 
}

/* end of general styles */


/* header */

.header{
  border-bottom: 1px solid var(--filter-button-border)
  }

 .header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.header-item{

}

/* logo */

.header-logo{
  color: inherit;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  }

.header-logo-web{
  color: var(--primary-brand);
}

.header-logo-studio{

}

/* Navigation and contact */

.header-navigation{ 
display: flex;
align-items: center;


}

.header-navigation-list{
  gap: 40px;
  
}

.header-navigation-item{

}

.header-navigation-link,
.header-contact-link{
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  

}

.header-navigation-link:hover,
.header-navigation-link:focus,
.current-page,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--link-hover);  
}


.header-contact-list{
  gap: 40px;
}

.header-contact-item{
  color: var(--address-normal);
}

.header-contact-link{
  color: var(--secondary-text);
  font-weight: 400;
 
}

/* end of navigation and contact */

/* end of header */

/* footer */

.footer{
  background-color: var(--background-footer);
  border-top: 1px solid var(--filter-button-border);
  padding: 100px 0;
  
  }

.footer-container{
  
    }
    

  
  .footer-logo{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display:block;
    padding-bottom: 17.5px;
  
  }
  .footer-logo-web{
    color: var(--primary-brand);
  }
  
  .footer-logo-studio{
  }
  
  .footer-text{
    color: var(--footer-text, #F4F4FD);
  }
  
  /* end of footer */


/* main  - webstudio */

/* hero section */

.hero{
  background-color: var(--background-hero);
  padding: 188px 0;
 
}

.hero-container{
  /* background-color: var(--background-hero);
  padding: 188px 0; */
}

.hero-title{
  color: var(--hero-title);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 48px;
  
}

.hero-button{
  color: var(--hero-title);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--background-hero-button);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
 
}

.hero-button:hover,
.hero-button:focus{
  background-color: var(--background-hero-button-hover);
  
 }

/* end of hero section */

/* feature section */

.feature{
  background-color: var(--background-header);
  
    
}
.feature-container{
  
}

.feature-list{
gap: 24px;
}
.feature-item {
  width: 264px;
  }

.feature-heading3{
  margin-bottom: 8px;
  }


.feature-text{
  color: var(--secondary-text);
 
}

/* end of feature */

/* what are we doing */

.doing{
  padding-top: 0;
}
.doing-container{

}
.doing-heading2{
  text-align: center;
  margin-bottom: 72px;

}
.doing-list{
  gap: 24px;
}
.doing-item{
  border: 1px solid var(--filter-button-border);

}

/* end of what are we doing */

/* our team */

.our-team{
  background-color: var(--cloud);
}

.our-team-container{
 
}

.our-team-heading2{
 text-align: center;
 margin-bottom: 72px;

}
.our-team-list{
  gap: 24px;
}
.our-team-item{
  width: 264px;
  border-radius: 0px 0px 4px 4px;
background: var(--background-body);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

Show 2 more colors

img
Image · 4,096 x 2,731

 }
 .our-team-item-container{
padding: 24px 16px;
}
 
.our-team-heading3{
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text{
  color: var(--secondary-text);
  text-align: center;
  
}

/* end of our team */

/* end of main - webstudio - index */

/* main - portfolio */

/* filters */

.filter-and-projects{
 padding-top: 96px;
}

.filter-container{

  
}
.filter-list{
margin-bottom: 84px;
justify-content: center;
gap: 24px;

}

.filter-item{
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
}

.filter-button{
  color: var(--primary-brand);
  background: var(--filter-button);
  border: 1px solid var(--filter-button-border);
  padding: 12px 24px;
  
}

.filter-button-all {
  color: var(--hero-title);
  background: var(--primary-brand);
  border: 1px solid var(--primary-brand);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--hero-title);
  background: var(--primary-brand);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid var(--primary-brand);
}

.filter-button-all:hover,
.filter-button-all:focus{
  background-color: var(--background-hero-button-hover)
}
.filter-button-website{

}
.filter-button-app{}
.filter-button-design{

}
.filter-button-marketing{}

/* end of filters */

/* projects */
.project-container{  
}

.project-list{
  flex-wrap: wrap;
  gap: 24px;

}
.project-item{
border: 1px solid var(--filter-button-border);
background: var(--background-body);
width: 360px;
}
.project-itembox-container{ 
padding: 32px 0px;
}
.project-title{
 margin: 0 16px 8px;


}

.project-description{
  color: inherit;
  margin: 0 16px;
  
}

/* end of project*/

/* end of main - portfolio */



